<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<polymer-element name="facet-selector">
  <style>
   .label {
     font-weight: bold;
   }
  </style>
  <template>
    <div class="label">{{facet.name}}</div>
    <core-menu id="list" on-core-select="{{valueSelected}}">
        <core-item>
            <paper-item noink>All</paper-item>
        </core-item>
      <template repeat="{{value in values}}">
        <core-item>
          <paper-item noink>{{value.name}} ({{value.count}})</paper-item>
        </core-item>
      </template>
    </core-menu>
  </template>
        
  <script src="facet-selector.js" defer></script>
</polymer-element>
