<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<polymer-element name="facet-selector">
  <style>
   .label {
     font-weight: bold;
   }
  </style>
  <template>
    <div class="label">{{facet.name}}</div>
    <core-menu id="list" on-core-select="{{valueSelected}}">
      <template repeat="{{value in values}}">
        <core-item>
          <div>{{value.name}} ({{value.count}})</div>
        </core-item>
      </template>
    </core-menu>
  </template>
        
  <script type="text/javascript">
   Polymer({
     publish: {
       facet: {
         name: '',
         id: '',
         // etc - see FACETS in profile.js
       },
       values: [],
     },
     filterValues: function() {
       var results = [];
       var coreItems = this.shadowRoot.querySelectorAll('core-item');
       for (var i=0; i < coreItems.length; i++) {
         var coreItem = coreItems[i];
         var dataItem = coreItem.templateInstance.model.value;
         // surely there's a better way to test selection?
         if (coreItem.classList.contains('core-selected')) {
           results.push([this.facet, dataItem.value]);
         }
       }

       return results;
     },
     valueSelected: function(e) {
       console.log("Value selected:", e);
       var model = e.detail.item.templateInstance.model;
       e.stopPropagation();
       var facetEvent = new CustomEvent('facet-value');
       facetEvent.facet = model.facet;
       // this is a bit of a hack
       try {
         facetEvent.value = model.value;
         this.dispatchEvent(facetEvent);
       } catch(ex) {
         console.error("Oops, bad value in .value? ", model.value, ": ", e);
       }
     },
   });  
  </script>
</polymer-element>
