{% extends "base.html" %}
{% block title %}Welcome{% endblock%}
{% block content %}
{{util.athlete_profile(athlete)}}
<div class="map-ui">
    <div id="progress"></div>
    <div class="map-control map-type" properties='["type"]'>Type:
        <polymer-ui-tabs class="facet-type" valueattr="value" selected="*">
            <span class="tab" value="*">All</span>
        </polymer-ui-tabs>
    </div>
    <div class="map-control map-location" properties='["location_city","location_state","location_country"]'>Location:
        <polymer-ui-tabs valueattr="value" selected="*" class="facet-location">
            <span class="tab" value="*">All</span>
        </polymer-ui-tabs>
    </div>
    <div class="map-control map-location" properties='["start_date"]'>Day of Week:
        <polymer-ui-tabs valueattr="value" selected="*" class="facet-day_of_week">
            <span class="tab" value="*">All</span>
        </polymer-ui-tabs>
    </div>
    <div>
    <canvas id="map" width="400" height="400"></canvas>
    </div>
</div>
<ul class="activity-list">
    {#
{% for activity in activities %}
  <li>{{activity.name}} - {{formats.reformat_date(activity['start_date'], activity, athlete)}} ({{activity.type}},
      <a href="/map?id={{activity.id}}">map</a>, <a href="http://www.strava.com/activities/{{activity.id}}">strava</a>) {{activity.distance}} meters.
      {% if activity.gear_id-%}[{{activity.gear_id}}]{% endif %}
  </li>
{% endfor %}
  #}
</ul>
<script type="text/javascript" defer async>
    var athlete = {{json.dumps(athlete, indent=4, sort_keys=True)|safe}}
</script>
<script src="/scripts/eventloop.js" async></script>
<script src="/scripts/profile.js" async></script>
<script src="/scripts/third_party/d3.v3.min.js"></script>
<script src="/scripts/third_party/colorbrewer.js"></script>
{% endblock %}
