{% extends "base.html" %}
{% block title %}Welcome{% endblock%}
{% block content %}
<div id="progress"></div>
<div class="map-controls">
    <div class="map-control"><polymer-ui-icon-button icon="refresh" id="refresh-button"></button></div>
    <div class="map-control map-type" properties='["type"]'>Type:
        <polymer-ui-tabs class="facet-type" valueattr="value" selected="*">
            <span class="tab" value="*">All</span>
        </polymer-ui-tabs>
    </div>
    <div class="map-control map-location" properties='["location_city","location_state","location_country"]'>Location:
        <polymer-ui-tabs valueattr="value" selected="*" class="facet-location">
            <span class="tab" value="*">All</span>
        </polymer-ui-tabs>
    </div>
    <div class="map-control map-location" properties='["start_date"]'>Day of Week:
        <polymer-ui-tabs valueattr="value" selected="*" class="facet-day_of_week">
            <span class="tab" value="*">All</span>
        </polymer-ui-tabs>
    </div>
</div>
<canvas id="map-3d" width="800" height="400"></canvas>
<script type="text/javascript" defer async>
    var athlete = {{json.dumps(athlete, indent=4, sort_keys=True)|safe}}
</script>
<script src="/scripts/eventloop.js" async></script>
<script src="/scripts/profile.js" async></script>
<script src="/bower_components/d3/d3.min.js" async></script>
<script src="/bower_components/colorbrewer/colorbrewer.js" async></script>
<script src="/bower_components/threejs/build/three.min.js" defer></script>
<script src="/bower_components/three.js-controls/src/OrbitControls.js" defer></script>
<script id="vertexShader" type="x-shader/x-vertex">
// create a shared variable for the
// VS and FS containing the normal
varying vec3 vNormal;

void main() {

  // set the vNormal value with
  // the attribute value passed
  // in by Three.js
  vNormal = normal;

  gl_Position = projectionMatrix *
                modelViewMatrix *
                vec4(position, 1.0);
}
</script>
<script id="fragmentShader" type="x-shader/x-fragment">
// same name and type as VS
varying vec3 vNormal;

void main() {

  // calc the dot product and clamp
  // 0 -> 1 rather than -1 -> 1
  vec3 light = vec3(0.5, 0.2, 1.0);

  // ensure it's normalized
  light = normalize(light);

  // calculate the dot product of
  // the light to the vertex normal
  float dProd = max(0.0,
                    dot(vNormal, light));

  // feed into our frag colour
  gl_FragColor = vec4(dProd, // R
                      dProd, // G
                      dProd, // B
                      1.0);  // A

}
</script>
{% endblock %}
