{% extends "base.html" %}
{% block title %}Welcome{% endblock%}
{% block content %}
<h1>Strava Raceways</h1>

{% if user %}
<div>
    Jump straight to the <a href="profile">profile</a>.
    <div>
    User credentials:
        <ul>
        <li>Email: {{user.email}}</li>
        <li>Verified: {{user.email_verified}}</li>
        <li>userid: {{user.user_id}}</li>
        <li>provider: {{user.provider_id}}</li>
        <li>provider inf: {{user.provider_info}}</li>
        <li>salt: {{user.salt}}</li>
        <li>photo: {{user.photo_url}}</li>
        <li>name: {{user.name}}</li>
    </ul>
    You can <a href="{{logout_url}}">Log out</a> at any time.
    </div>
    
    {% if strava_credentials %}
    You are connected with Strava.
    {{util.athlete_profile(strava_credentials.token_response.athlete)}}
    
    {% else %}
    <a href="{{strava_login_url}}"><img width=172 height=31 border=0 src="http://strava.github.io/api/images/ConnectWithStrava.png"></a>
    {% endif %}
</div>
{% else %}
{% endif %}
<div id="signin"></div>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#signin', // accepts any CSS selector
    {
      widgetUrl: window.location.origin + "/oauth2callback",
      signOutUrl: window.location.origin + "/logout",
    }
  );
</script>
{% endblock %}
